@import '../../style/style.scss';

.contact {
    max-width: 100%;
    color: $font-bgc-main;
    padding: 10px;

    h3 {
        @extend %font-title;
    }

    label {
        color: $add-color;
        @extend %font-title;
    }

    a {
        @extend %font-paragraph;
    }

    a,
    svg {
        color: $font-bgc-main;
    }

    svg {
        width: 40px !important;
        height: 40px !important;
    }

    textarea,
    button,
    input:not([TYPE=CHECKBOX]):not([TYPE=RADIO]) {
        width: 100%;
        height: auto;
        background-color: $add-color4;
        color: $font-bgc-main;
        @extend %font-paragraph;
        border-color: $add-color5;
        padding: 10px 15px;
    }

    textarea {
        height: 150px;
        resize: vertical;
    }

    button {
        text-transform: uppercase;
        cursor: pointer;
    }

    h3 {
        color: $add-color4;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .secure {
        visibility: hidden;
        height: 0px;
    }

    .input-row {
        display: flex;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .recaptcha {
        overflow-x: auto;
        height: 85px;

        iframe {
            height: 78px;
        }
    }

    &::after {
        @include traingleBgc($bgc-add, $bgc-main);
        display: none;
        width: 100%;
        height: 100%;
        border-top-width: 49vh;
        border-bottom-width: 50vh;
        border-right-width: 47vw;
    }

    .social {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $add-color4;
        margin-top: 20px;
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        align-items: center;

        a {
            width: fit-content;
        }
    }
}

@media screen and(min-width:300px) {
    .contact {
        &::after {
            display: block;
        }

        .recaptcha {
            margin-left: initial;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and(min-width:600px) {

    .contact {

        &::after {
            border-right-width: 49vw;
            border-left-width: 48vw;
        }


        label {
            white-space: nowrap;
            margin-right: 15px;
        }

        // input,
        // textarea,
        // button {
        // }

        textarea {
            height: 250px;
        }

        .input-row {
            align-items: center;
            flex-direction: row;

            &.textarea {
                flex-direction: column;
            }
        }

        .recaptcha {
            justify-content: center;
        }

    }
}

@media screen and(min-width:900px) {


    .contact {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;

        form {
            width: 75vw;
        }

        &::after {
            border-right-width: 49vw;
            border-left-width: 49vw;
        }

        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }

        &::after {
            border-right-width: 50vw;
        }
    }
}