@import '../../style/style.scss';

.contact {
    color: $font-bgc-main;
    padding: 10px;
    @include font-size(1.2em);

    .contact-iframe {
        text-align: center;
    }

    iframe {
        outline: none;
        padding: 0;
        margin: 0;
        border: 0;
        height: 610px;
        width: 90vw;
    }

    .wrapper {
        display: block
    }

    h3 {
        @extend %font-title;
    }

    a {
        @extend %font-paragraph;
    }

    a,
    svg {
        color: $font-bgc-main;
    }

    svg {
        width: 40px !important;
        height: 40px !important;
    }

    h3 {
        @include font-size(1.2em);
        color: $add-color4;
    }

    &::after {
        @include traingleBgc($bgc-add, $bgc-main);
        display: none;
        // border-width:50vh 50vw;
        right: 0;
        border-width: 400px calc(50vw - 0px) 400px calc(50vw - 16px);
    }

    .social {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $add-color4;
        margin-top: 20px;
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        align-items: center;

        a {
            width: fit-content;
        }

        .social-link {
            margin-top: 10px;
            height: 35px;
        }

    }
}



@media screen and(min-width:300px) {
    .contact {

        &::after {
            display: block;
        }

        .recaptcha {
            margin-left: initial;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and(min-height:750px) {
    .contact {
        &::after {
            border-top-width: 50vh;
            border-bottom-width: 50vh;
        }
    }
}

@media screen and(min-width:900px) {

    .contact {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;



        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }
    }
}