@import '../style/style.scss';

section {
    min-height: 350px;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.prezentation {
    color: $font-bgc-main;

    &::after {
        @include traingleBgc($bgc-main, $bgc-add);
        display: none;
    }

    .title {
        // width: 50vw;
        // position: absolute;
        // top: 25vh;
        // transform: translateY(-50%);

        .fullName {
            @extend %font-title;
            text-transform: uppercase;
        }

        p {
            @extend %font-paragraph;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .dev-cont {
        @extend %font-paragraph;
        width: auto;
        // position: absolute;
        // top: 50vh;
        // left: 60vw;

        ul {
            padding-left: 0;
            list-style: none;
            text-align: center;

        }
    }


}

.about {
    background-color: $bgc-main;
    color: $font-bgc-main;
    z-index: 0;

    .question {
        color: $add-color;
        font-weight: bold;
        @extend %font-title;
    }

    p {
        @extend %font-paragraph;
        text-align: justify;
    }

    .technology {
        padding-top: 1px;
        margin: 10px -10px;
        background-color: $font-bgc-main;
        color: $font-bgc-add;

        p {
            text-align: center;
            margin-top: 20px;
        }

        div {
            overflow-x: auto;
            display: flex;
            justify-content: space-around;

            span {
                min-width: 40px;
                margin: 0 20px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $font-bgc-main;
    color: $font-bgc-add;


    a {
        @extend %font-paragraph;
        color: $font-bgc-add;
    }

    svg {
        height: 50px !important;
        width: 50px !important;
    }
}

@media screen and(min-height:350px) {
    .prezentation {

        &::after {
            border-top-width: 50vh;
            border-bottom-width: 50vh;
        }

    }
}

@media screen and(max-height:520px) {}

@media screen and(min-width:300px) {
    .prezentation {
        height: 100vh;

        &::after {
            display: block;
        }

    }

}




@media screen and(min-width:600px) {
    .prezentation {
        &::after {
            border-right-width: 49vw;
            border-left-width: 48vw;
        }
    }

    .about {

        .technology {

            div {
                span {
                    svg {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }


}

@media screen and(min-width:900px) {
    .prezentation {

        &::after {
            border-right-width: 49vw;
            border-left-width: 49vw;
        }
    }

}